/* Alap stílusok és globális beállítások */

/* H1 */
h1 {
  justify-content: center !important;
}

/* Wrapper (Form Background) */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Teljes szélesség */
  height: 100vh; /* Teljes magasság */
  display: flex;
  justify-content: center; /* Középre igazítja a formokat */
  align-items: center; /* Középre igazítja a formokat */
  color: #fff;
  overflow: hidden;
  background-image: url("FantModernCity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Form Box */
.form-box {
  position: relative;
  background-size: cover !important; 
  width: 100%; 
  max-width: 420px;
  height: auto; 
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(30px);
  border-radius: 55px;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: height .2s ease;
  overflow: hidden;
}

.show {
  display: flex; 
}


form h1 {
  font-size: 36px;
  margin: 0 75px 25px 75px;
  text-align: center;
  display: block;
}


.input-box {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 15px 0; 
}


.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding-right: 40px;
}


.password-strength p {
  font-size: 20px;
}

.password-strength p.weak {
  color: red;
}

.password-strength p.medium {
  color: orange;
}

.password-strength p.strong {
  color: green;
}


.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forgot-password a:hover {
  text-decoration: underline;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: purple;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}


.toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}


.input-box input {
  text-align: center;
  width: 100%;
  height: 52px;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}

.input-box input::placeholder {
  color: #fff;
}


form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}


form button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 15px; /* Add margin for separation */
}


form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}


.success {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}



@media (max-width: 600px) {
  .wrapper {
    justify-content: flex-start; 
    align-items: flex-start;
    padding-top: 10%;
  }

  h1 {
    font-size: 28px; 
  }

  .input-box input {
    font-size: 18px; 
  }

  
  .form-box h1 {
    font-size: 30px;
    text-align: left;
    margin: 0 15px;
  }

  .input-box {
    margin: 10px 0;
  }

  
  .modal-content h2 {
    font-size: 22px;
  }
}